body { background: #c0987c; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 47px; display: flex; }
.block-cluster-0 { color: #32810e; font-size: 20px; margin-bottom: 5px; }
.block-uploader-1 { color: #d9fa0; font-size: 19px; margin-bottom: 5px; }
.block-logger-2 { color: #55aa45; font-size: 13px; margin-bottom: 5px; }
.block-sms-3 { color: #d23477; font-size: 16px; margin-bottom: 5px; }
.block-session-4 { color: #718d9a; font-size: 12px; margin-bottom: 5px; }